@page "/"
@using Group5_OnlinePharmacy.Layout
@layout HomeLayout

<body>
<div class="container">
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Medicines</h2>
            <p>"List of Medicines We Have!"</p>
            <a href="medicines">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Order</h2>
            <p>"Place your Orders here."</p>
            <a href="orders">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Allergy</h2>
            <p>"Register your Allergy."</p>
            <a href="allergies">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Symptoms</h2>
            <p>"Register your Symptoms."</p>
            <a href="symptoms">Read More</a>
        </div>
    </div>
</div>
</body>